# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# Vector stores / embeddings
# -------------------------
vector_store/
*.faiss
*.pkl

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Build artifacts
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
